<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="classes">
  <test thread-count="10" name="Test">
  	<classes>
      <class name="org.day4.Asser2"/>
      <class name="org.day4.Asser3"/>
      <class name="org.day4.Asser4"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
